body{font-family: Arial;,text-align: center;,background: white;}

header, footer{background: purple;,color: white;,padding: 15px;}

img{width: 300px;,border-radius: 10px;}

button{padding: 10px 20px;,background: black;,color: white;,border:5px;,border-radius: 5px;}

button:hover{background-color: black;, cursor: pointer;}
